<mat-toolbar color="primary">
  <button mat-button [matMenuTriggerFor]="menu">Gestionar paciente</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Registrar</button>
    <button mat-menu-item>Modificar</button>
  </mat-menu>
</mat-toolbar>

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }} v4!
  </h1>
</div>

<mat-card>
  <mat-card-title>Formulario de pacientes</mat-card-title>
  <mat-card-subtitle>Registrar nuevo paciente</mat-card-subtitle>
  <mat-card-content>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">
      Registra
    </button>
  </mat-card-actions>
</mat-card>

<router-outlet></router-outlet>
